# Backend specific (Symfony)
/backend/vendor/
/backend/var/cache/
/backend/var/log/
/backend/var/sessions/
/backend/.env.local
/backend/.env.*.local
/backend/phpunit.xml
/backend/public/build/

# Frontend specific (Angular)
/app/dist/
/app/node_modules/
/app/*.log
/app/environments/environment.ts
/app/environments/environment.prod.ts